footer {
    background: var(--footer-background);
    border-top: 1px solid var(--footer-border);
    font-size: 0.875rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
	margin-top: auto;
}

.footer-content {
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    min-width: 85px;
    margin: 0.625rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    p {
        margin: 0.3125rem 0;
    }

    a {
        display: flex;
        gap: 0.5rem;
        color: var(--footer-link);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .icon-footer {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.credits {
    text-align: center;
    font-size: 0.75rem;
    color: var(--font-color-credits);
    margin-top: 0.5rem;
}
