.hero {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 2rem;
  min-height: 80vh;
}

.hero-image {
  flex: 0 0 auto;
  height: 80vh;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding-left: 5rem;
}

.hero-content {
  flex: 1;
  min-width: 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

h1 {
    padding: 1rem 0rem;
}

@media (max-width: 850px) {
  .hero {
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }

  .hero-image {
    display: none;
  }

  .hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hero-content {
    width: 100%;
    padding: 1rem 0;
  }
}